@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,700;1,800&display=swap");

body,
html {
  font-family: Poppins;
  font-size: 1.8vw;
  height: 100%;
  background-color: #9bf2ff;
}

.background-image {
  filter: blur(4px);
}

.heading {
  font-size: 1.15em;
  display: flex;
  flex-direction: column;
  margin: 0px;
  margin-bottom: 3vh;
}

h1 {
  color: #305255;
  margin: 0px;
  margin-bottom: 1.6vh;
}

h2 {
  color: #305255;
  font-size: 1.2em;
  margin: 0px;
  font-weight: 800;
}

.mainCard {
  background-color: #dcfaff;
  border-radius: 33px 33px 0px 0px;
  padding: 3em;
  margin-top: 10vh;
  height: 100vh;
}

.tempRow {
  color: #305255;
  display: flex;
  font-size: 1.8em;
  gap: 2vw;
  justify-content: center;
  flex-direction: row;
}

.tempRowReverse {
  color: #305255;
  display: flex;
  font-size: 1.4em;
  gap: 2vw;
  justify-content: center;
  flex-direction: row-reverse;
  font-weight: bold;
}

textarea {
  font-family: Poppins;
  font-weight: 400;
  font-size: 1.1rem;
  border: 2px solid #85a4aa;
  border-radius: 18px;
  height: 7vw;
  width: 40vw;
  padding: 1.2vw;
}

.tempRow textarea::placeholder {
  padding: 0.2vw;
}

.tempRow p {
  font-size: 0.8em;
  font-weight: bold;
}

.buttonRow {
  margin-top: 7vh;
  display: flex;
  justify-content: center;
  gap: 10vw;
}

button {
  font-size: 1.5em;
  font-family: Poppins;
  border: 2px solid #85a4aa;
  border-radius: 40px;
  padding: 1em;
  font-weight: 800;
  background-color: aliceblue;
  color: #234247;
}

#convertButton {
  border: 2px solid #79642d;
  background-color: #f5c95c;
  color: #3f3418;
}

#resetButton {
  border: 2px solid #833c26;
  background-color: #f1724b;
  color: #3c1d12;
}

.tempExplain {
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
